img {
    height: 200px;
}
h1 {
    color: darkred;
    background-color: floralwhite;
}
h2 {
    color: darkred;
    background-color: floralwhite;
}
ul li {
    color: green;
}
ol li {
    color: mediumblue;
}
footer {
    font-style: italic;
}